@font-face {
  font-family: "iconfont"; /* Project id 2995076 */
  src: url('iconfont.woff2?t=1639052845317') format('woff2'),
       url('iconfont.woff?t=1639052845317') format('woff'),
       url('iconfont.ttf?t=1639052845317') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-113fangxiang_xiangyou:before {
  content: "\e631";
}

.icon-115fangxiang_xiangzuo:before {
  content: "\e632";
}

.icon-sousuo:before {
  content: "\e61e";
}

.icon-bofangzhong:before {
  content: "\e68f";
}

.icon-zanting:before {
  content: "\e691";
}

.icon-shangyiqu:before {
  content: "\e692";
}

.icon-xiayiqu:before {
  content: "\e693";
}

.icon-diantai:before {
  content: "\e694";
}

.icon-bofangliebiao:before {
  content: "\e696";
}

.icon-pinglun:before {
  content: "\e69c";
}

.icon-suijibofang:before {
  content: "\e6a0";
}

.icon-danquxunhuan:before {
  content: "\e6a2";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a3";
}

.icon-bofangMV:before {
  content: "\e6a4";
}

.icon-tianjiadao:before {
  content: "\e6a5";
}

